@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lilita+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(240, 237, 229);
    color: white;
}
.header{
    width: 100%;
    height: 60vh;
    background:url(perkyimages/background.png);
    background-position: center;
    background-size: cover;
}
::-webkit-scrollbar {
    display: none;
}
nav{
    background-color: #9C5E3F;
    height: 50px;
    text-align: center;
}
nav img{
    height: 80px;
    float: left;
    border-radius: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 12px 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 15px;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #fc2b6d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.headline{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 5%;
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.header-text{
    margin-top: 0;
    text-align: center;
    font-family: 'tinos';
}
.icons{
    margin-right: 5%;
    font-size: 20px;
}
.header .fab{
    color: white;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}
.header .fab:hover{
    color: #fc2b6d;
    font-size: 30px;
    transform: translate(scale(1.2));
}

/* About Section */
.about{
    height: 80vh;
}
.aboutme{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    flex-wrap: wrap;
    height: 75vh;
    margin-left: 20vw;
    border: 2px solid #9C5E3F;
}
.aboutimage{
    flex-basis: 50%;
    height: 100%;
}
.aboutimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-text{
    flex-basis: 50%;
    height: 100%;
    font-family: 'tinos';
    background: #ffffff;
}
.about-text h1{
    margin-top: 15vh;
    margin-left: 20px;
    color:#9C5E3F;
    font-size: 30px;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}
.about-text p{
    font-size: 20px;
    color: gray;
    text-align: justify;
    margin: 20px 20px;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}

/* Services Section */
.services{
    margin-top: 5vh;
}
.services h1{
    text-align: center;
    color: #9C5E3F;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}
.services p{
    text-align: center;
    color: gray;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}
.service{
    height: fit-content;
}
.myservices{
    height: fit-content;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-left: 10vw;
}
.service{
    flex-basis: 30%;
    margin: 10px 10px;
    padding: 5px;
}
.service:hover{
    border: 1px solid #9C5E3F;
}
.service img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.service-text{
    bottom: 10px;
}
.service h2{
    color: #9C5E3F;
    font-size: 20px;
    margin-top: 10px;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}
.service p{
    color: gray;
    font-size: 15px;
    margin-top: 10px;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}

/* contact */
.contact{
    height: 80vh;
    display: block;
    margin-top: 5vh;
}
.follow{
    height: 10vh;
}
.contact p{
    text-align: center;
    color: #9C5E3F;  
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}
.contact h2 {
    text-align: center;
    color: black;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}
.contact h2 a{
    color: #000000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.contact h2 a:hover{
    font-size: 20px;
}
.contact .images{
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    object-fit: cover;
    padding: 0;
}
.info{
    background: #9C5E3F;
    height: 35vh;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}
.handles{
    flex-basis: 30%;
}
.handles h1{
    color: white;
    text-align: left;
}
.handles .fab{
    display: inline-block;
    color: white;
    font-size: 25px;
    margin: 10px 10px;
    transition: all 0.2s ease-in-out;
}
.handles .fab:hover{
    color: #fc2b6d;
    font-size: 30px;
    transform: translate(scale(1.2));
}
.email {
    flex-basis: 30%;
}
.email h1{
    color: white;
    text-align: left;
}
.email form input{
    width: 60%;
    height: 30px;
    margin-bottom: 10px;
}
.email form input[type="text"]{
    color: black;
    border: none;
    padding: 5px;
    height: 10vh;
    transition: all 0.2s ease-in-out;
}
.email form input:hover{
    border: 2px solid #000000;
    transform: scale(0.5.1);
}
.email button{
    background: #fc2b6d;
    color: white;
    border: none;
    padding: 5px;
    width: 30%;
    height: 30px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}
.email button:hover{
    background: #9C5E3F;
    border: 2px solid #fc2b6d;
    transform: scale(1.1);
}

.location{
    flex-basis: 30%;
}
.location h1{
    color: white;
    text-align: left;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}
.location p{
    color: white;
    text-align: left;
    font-family: "PT Serif" ,"Tinos", serif;
    font-style: normal;
}
footer h3{
    background: #9C5E3F;
    text-align: center;
    font-family: "Noto Serif", serif;
}